<h3>Shipping Information<h3>
<ul>
  <li>Delivery Time: <%= shipping.estimated_arrival_at %></li>
  <li>Delivery Restaurant: <%= shipping.restaurant.name %></li>
  <li>
    Delivery Destination: 
    <%= shipping.building.city_company_name %>
  </li>
</ul>
