<h1>Restaurant Management</h1>
<% if @restaurant.nil? %>
  <p>You currently has not restaurant. Please add restaurant!<p>
  <%= link_to "Add Restaurant", controller: "restaurants", 
    action: "new", id: current_merchant.id %>
<% else %>
  <table>
    <tr>
      <td>Name</td>
      <td><%= @restaurant.name%></td>
      <td>Image</td>
      <td><%= @restaurant.image_url%></td>
      <td>Pending Orders</td>
      <td><%= %></td>
    </tr>
  </table>
<% end %>
