<% if not devise_controller? && current_or_guest_account.is_customer? %>
  <li>
    <%= link_to "cart:#{current_cart.total_items}", cart_path(current_cart) %>
  </li>
<% end %>
<% unless devise_controller? || action_name == 'add_address' || 
     current_or_guest_account.is_merchant? %>
    <li>
      <%= link_to "#{current_or_guest_account.building.city_company_name}", '#' %>
    </li>
<% end %>
