<% if current_or_guest_account.is_customer? %>
  <li>
  <%= link_to "#{current_dish_cart.total_items}",
        cart_path(current_dish_cart) %>
  </li>
<% end %>
<% unless action_name == 'add_address' %>
    <li>
      <%= link_to "#{current_or_guest_account.building.city_company_name}", '#' %>
    </li>
<% end %>
