<% if account_signed_in? and current_account.is_customer? %>
  <li>
    <%= link_to "#{current_cart.total_items}", cart_path(current_cart) %>
  </li>
  <% unless action_name == 'add_address' %>
    <li>
      <%= link_to "#{current_account.building.city_company_name}", '#' %>
    </li>
  <% end %>
<% end %>
