<% if user_signed_in? %>
  <li><%= link_to 'Cart', cart_path(current_cart) %></li>
  <li><%= link_to "#{current_cart.total_items}", cart_path(current_cart) %></li>
<% elsif merchant_signed_in? %>
  <li><%= link_to 'Create Dishes', new_dish_path %></li>
<% end %>
