<% if not devise_controller? && current_or_guest_account.is_customer? %>
  <li>
  <%= link_to "dish cart:#{current_dish_cart.total_items}",
        cart_path(current_dish_cart) %>
  </li>
  <li>
  <%= link_to "combo:#{current_combo_cart.total_items}",
        combo_summary_cart_path(current_combo_cart) %>
  </li>
<% end %>
<% unless devise_controller? || action_name == 'add_address' || 
     current_or_guest_account.is_merchant? %>
    <li>
      <%= link_to "#{current_or_guest_account.building.city_company_name}", '#' %>
    </li>
<% end %>
